* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
