* {
  margin: 0;
  padding: 0;
}

.material-content ul,
.material-content ol {
  padding-left: 1.2rem;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
